
.id {
    width: 5%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col {
    width: 20%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit{
    margin-left: 1rem;
    max-width: 50px;
}
.addUser {
    margin-bottom: 1%;
}
