.user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.is-active-checkbox {
    align-self: center;
}
.button{
    align-self: center;
}
